<br>
<br><br>
<br>
<div class="card-wrapper">
  <div id="card-1" class="card card-rotating text-center">

    <!-- Front Side -->
    <div class="face front">

      <!-- Avatar -->
      <div class="avatar mx-auto white"><img src="https://sun9-14.userapi.com/impf/c854324/v854324626/11ac74/_JVQ5-FGY9g.jpg?size=1617x2160&quality=96&proxy=1&sign=749a8bef67a4c04f701ce03ad711dae5&type=album" width="300" height="300" class="rounded-circle"
                                             alt="Sample avatar image.">
      </div>

      <!-- Content -->
      <div class="card-body">
        <h4 class="font-weight-bold mb-3">Erdaulet Serikbai</h4>
        <p class="font-weight-bold blue-text">Web developer</p>
        <!-- Triggering button -->
        <a class="rotate-btn" data-card="card-1"><i class="fas fa-redo-alt"></i> Click here to rotate</a>
      </div>
    </div>
    <!-- Front Side -->

    <!-- Back Side -->
    <div class="face back">
      <div class="card-body">

        <!-- Content -->
        <h4 class="font-weight-bold mb-0">About me</h4>
        <hr>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat tenetur odio suscipit non commodi vel
          eius veniam maxime?
        <hr>

        <ul class="list-inline py-2">
          <li class="list-inline-item"><a class="p-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a class="p-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a class="p-2 fa-lg gplus-ic"><i class="fab fa-google-plus-g"></i></a></li>
          <li class="list-inline-item"><a class="p-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
        <a class="rotate-btn" data-card="card-1"><i class="fas fa-undo"></i> Click here to rotate back</a>

      </div>
    </div>
</div>
</div>
