<br>
<br><br>
<br>
<br>

<div class="card-deck">
  <div class="card">
    <img src="https://about.puma.com/-/media/images/newsroom/corporate-news/2019/2019-04-15-puma-becomes-official-partner-of-spanish-league-laliga/m-07-puma-and-laliga-2.ashx?as=1&h=384&iar=1&w=768&hash=9B6C4D231CAF0C5F6B85F4C149506103" alt="...">
    <div class="card-footer">
      <h5 class="card-title">La liga</h5>
      <p>Example Division (Spanish Primera División) of the Spanish professional
        football league (Spanish Liga de Fútbol Profesional, LFP), also known as
        Primera and La Liga (Spanish La Liga), is a top-level professional football
        tournament in the Spanish football league system. La Liga is considered one
        of the strongest leagues in the world</p>
    </div>
  </div>

  <div class="card">
    <img src="https://www.readfootball.com/sites/default/files/news-img/1428_197_0.jpg" class="card-img-top" alt="...">
    <div class="card-footer">
      <h5 class="card-title">Spain cup</h5>
      The Campeonato de España–Copa de Su Majestad el Rey, commonly known as
      Copa del Rey or simply La Copa and formerly known as Copa del Generalísimo
      (1939–76), is an annual knockout football competition in Spanish football, organized
      by the Royal Spanish Football Federation.
    </div>
  </div>
  <div class="card">
    <img src="https://www.footboom.net/img/upload/1/3cb98-Liga-chempionov.jpeg" class="card-img-top" alt="...">
    <div class="card-footer">
      <h5 class="card-title">League Champions</h5>
      <p>"European Champions League" and "European Cup" redirect here. For the table tennis competition, see European Champions League (table tennis). For the trophy, see European Champion Clubs' Cup. For other uses, see European Cup (disambiguation).
        This article is about the men's competition. For the women's competition, see UEFA Women's Champions League.</p>
    </div>
  </div>
</div>


