<br>
<br><br>
<br>
<h1 style="align-items: center; color: #6574cd; width: 1290px; margin-left: 500px"> Barcelona es más que un club</h1>
<br>
<h1 style="color: darkred; width: 1290px; margin-left: 20px"> Club news</h1><br>

<div class="card-deck">
  <div class="card">
    <img src=" https://cdn.tribuna.com/fetch/?url=https%3A%2F%2Fi.gyazo.com%2F30f7d858f3a0213c7c861342de24863f.jpg"
         style="height: 250px; width: 483px" alt="...">
    <div class="card-footer">
      <h3 style="color:darkblue">Ter Stegen agreed to lower salary requirements in connection with</h3>
      <p style="color:darkblue"> Barcelona is in talks with its goalkeeper ter Stegen to renew the contract
        from December last year.</p>
    </div>
  </div>

  <div class="card">
    <img src="https://cdn.tribuna.com/fetch/?url=https%3A%2F%2Fi.gyazo.com%2Fdc812f91bfc3c2e18f1797e243ce53f6.jpg"
         style="height: 250px; width: 483px">
    <div class="card-footer">
      <h3 style="color:darkred">Exchange and 2 more ways for Barca to sign Neymar without paying cash</h3><br>
      <p style="color:darkred">The summer transfer window will open soon and Barcelona will return to
        exploring the chances of signing Neymar.</p>
    </div>
  </div>

  <div class="card">
    <img src="https://cdn.tribuna.com/fetch/?url=https%3A%2F%2Fi.gyazo.com%2Fb21e983d0db3c61a9788e64a0b492b13.jpg"
         style="height:250px; width: 483px"><br>
    <div class="card-footer">
      <h3 style="color:darkblue">5 Barca players, Zidane and the absence of Ronaldo: Van Basten named the top 11
        players</h3><br>
      <p style="color:darkblue"> Three-time owners of the Golden Ball named the 11 best players of all time.</p>
    </div>
  </div>
</div>
<br>
<br><br>

<div class="card-deck">
  <div class="card">
    <img src="https://cdn.tribuna.com/fetch/?url=https%3A%2F%2Fc.radikal.ru%2Fc09%2F2005%2F40%2F3f4398e94a06.jpg"
         style="height: 250px; width: 483px" alt="...">
    <div class="card-footer">
      <h3 style="color:darkblue">From a different angle</h3><br>
      <p  style="color:darkblue"> We discuss pressure, attack width, different game philosophy,
        as well as various assessments of individual episodes of the match and the general course of the game.
        In particular, we consider high pressure in different zones of the field depending on the goals pursued and
        the location of the players of the pressing team.</p>
    </div>
  </div>

  <div class="card">
    <img src="https://i.trbna.com/preset/wysiwyg/b/8f/0636c9b9a11ea9b7cfc3907d4cfd0.jpeg"
         style="height: 250px; width: 483px">
    <div class="card-footer">
      <h3  style="color:darkred">The magician Ansu Fati in training "Barcelona"</h3><br>
      <p style="color:darkred">Today, the Youtube club channel published a cut of Faty fragments during training,
        in which he demonstrates his skills, excellent goals, ball possession, shots, dribbling and the accuracy of
        these elements.</p>

    </div>
  </div>

  <div class="card">
    <img src="https://cdn.tribuna.com/fetch/?url=https%3A%2F%2Fpictures.trbna.com%2Fimage%2Ff1809725-ab9f-47fe-82a7-dd5e93a9c61c"
         style="height:250px; width: 483px"><br>
    <div class="card-footer">
      <h3  style="color:darkblue">“He has great abilities”: Hristo Stoichkov supports the interest of “Barcelona” in Lautaro</h3>
      <br>
    </div>
  </div>
</div>



