<br>
<br><br>
<br>
<br>

<div class="card-deck">
  <div class="card">
    <img src="https://static.footballhd.ru/uploads/posts/2019-09/1567510048_photo_2019-09-03_14-23-23.jpg" alt="...">
    <div class="card-footer">
      <h3 style="color:darkblue"> Man team Barcelona<br>
        the main composition of Barcelona. But there will always be a change. If Kike Seten wants to replace then replace.
      </h3>
    </div>
  </div>

  <div class="card">
    <img src="https://i.mycdn.me/i?r=AyH4iRPQ2q0otWIFepML2LxR2ULEVp5Vy7MFlo6mmZHhOA" width="740px" height="468px" alt="...">
    <div class="card-footer">
      <h3 style="color:darkblue"> Man team Barcelona<br>
        here are all the players. So all football clubs take pictures
      </h3>
    </div>
  </div>
</div>


