<br><br><br>
<br>
<br>

<div class="card-group">
  <div class="card">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ghHrOwVq78E" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
    <div class="card-body">
      <h5 class="card-title">#BarçaSevillaFC
        Highlights FC Barcelona vs Sevilla FC (1-1)</h5>
      <p class="card-text">Barcelona lost points for the first time under the leadership of Ronald Koeman. “Blue Garnet”
        exchanged goals with Sevilla in the opening of the match and no one else scored - a draw 1: 1.</p>
    </div>
  </div>

  <div class="card">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/dwVUvhaEq1A" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
    <div class="card-body">
      <h5 class="card-title">#CeltaBarça
        Highlights RC Celta vs FC Barcelona (0-3)</h5>
      <p class="card-text">Barcelona won their second crushing victory in two La Liga games. This time, under the
        onslaught of Fati and the company, Celta could not resist. The game was not bright, but the Catalans worked
        clearly in terms of getting the result.</p>
    </div>
  </div>

  <div class="card">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/lLge3T2bGa0" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
    <div class="card-body">
      <h5 class="card-title">Barça 4 - 0 Villarreal | La Liga | Обзор Матча / La-Liga 2020</h5>
      <p class="card-text">Barcelona are recovering - they have scored four in a half. Messi hasn't lost motivation.</p>
    </div>
  </div>
</div>
<br>

<div class="card-group">
  <div class="card">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/j6My7L1YzLs" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
    <div class="card-body">
      <h5 class="card-title">Обзор Матча ЛЧ Barcelona Vs Bayern Munich 2-8 All Goals & Highlights</h5>
      <p class="card-text">Hans-Dieter Flick's team played an outstanding offensive and defeated five-time UEFA
        Champions League winners..</p>
    </div>
  </div>

  <div class="card">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/2kjsAlt-HCQ" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
    <div class="card-body">
      <h5 class="card-title">Barcelona vs Napoli 3 - 0</h5>
      <p class="card-text">Barcelona met in a confrontation with Napoli in the return leg of the 1/8 finals of the
        Champions League, as a result of which the Catalan grandee made it to the next stage of the tournament.</p>
    </div>
  </div>

  <div class="card">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/JIWnlQeQAHI" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
    <div class="card-body">
      <h5 class="card-title">BARCELONA-ALAVEZ 5: 0 MATCH REVIEW 19.07.2020</h5>
      <p class="card-text">Barcelona in the final round of La Liga defeated Alaves away. The double was scored by the
        top scorer and assistant of the championship, Lionel Messi, Ansu Fati, Luis Suarez and Nelson Semeda scored one
        more goal each - 5: 0.</p>
    </div>
  </div>
</div>
